@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(255deg, #e9edc9, #fefae0);
    background-repeat: no-repeat;
}

#formWrapper{
    width: 100%;
    height: 100%;
    padding: 4rem 6rem;
}

#formWrapper > h1{
    font-size: 4rem;
}

#formWrapper > p{
    font-size: 1.2rem;
}

#formWrapper > hr{
    margin: 1.5rem 0;
}

#formWrapper > h2{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

form{
    min-width: 400px;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
}

h3{
    font-size: 2.5rem;
    padding: 1rem;
    background-color: #000;
    color: #e9edc9;
}

.ctrl{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
    font-weight: 600;
}

label[for=duration]{
    font-weight: 400;
}

input, select, textarea{
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.6rem;
    min-width: 200px;
    width: 450px;
    border: 1px solid #000;
    outline: none;
}

input[type=button]{
    margin: 1rem;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.personalInformationContent{
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
}

.objectiveContent{
    padding: 1rem 1rem 0 1rem;
}

.education{
    display: flex;
    flex-direction: column;
}

#addEducation{
    order: 2;
}

.educationContent{
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
}

.experience{
    display: flex;
    flex-direction: column;
}

#addExperience{
    order: 1;
}

.workExperienceContent{
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
}

.skillsContent{
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
}

.referenceContent{
    padding: 1rem 1rem 0 1rem;
}

input[type=submit]{
    margin-top: 1rem;
    background-color: #000;
    color: #fff;
    width: 100%;
}

.ctrl textarea#objective{
    width: 100%;
}

.ctrl textarea#reference{
    width: 100%;
}